<%# TODO: Way of putting this into home and show and not use conditional.
That way, showcase_text can be a page part. %>

<% if home_page? %>

  <div id="showcase">
    <div id="showcase_image">
      <img src="images/assets/slide1_church.jpg" width="564" height="226" border="0" alt="Slideshow image" />
    </div>

    <div id="showcase_text">
      <h2>Welcome to our church</h2>

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
      hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel.</p>

      <div class="topbutton">
        <a href="#">Learn more</a>
      </div>

      <div class="topbutton">
        <a href="#">How to get here</a>
      </div>
    </div>
  </div><!-- /showcase --><% else %>

  <div id="subname">
    <h3>Who We Are </h3>
    <div id="breadcrumb"><a href="#">home</a>/<a href="#">who we are</a></div>
  </div>
  
<% end %>