<div id="secondary" class="grid_4">
<!--
  <div class="lightbox_top"></div>

  <div class="lightbox">
    <h3>LATEST SERMON:</h3>

    <p class="greencolor">Answering the Call <em>9-18-09</em></p>

    <p><a href="#" class="button">Listen</a> <a href="#" class="button">Download</a></p>

    <div class="group"></div>
  </div>  

  <div class="lightbox_bottom"></div>

  <div class="spacer"></div>
-->
  <div class="darkgreen">
    <h3>New to us? Check out this Guide</h3>
  </div>

  <div class="spacer"></div>

  <div class="darkbox_top"></div>

  <div class="darkbox">
    <h3>Worship Times</h3>

    <p class="greencolor">Sunday 8:00, 9:30 &amp; 11:00 am<br />Wednesday 7:00pm</p>

    <div class="group"></div>
  </div>

  <div class="darkbox_bottom"></div>

  <div class="spacer"></div>

  <div class="lightbox_top"></div>

  <div class="lightbox">
    <h3>LATEST Events</h3>

    <p class="greencolor">Event Name<br /><em>November 11-12th</em></p>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
    hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque,</p>
    
    <hr />

    <p class="greencolor">Event Name<br /><em><span>November 11-12th</span></em></p>

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
    hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque,</p>

    <div class="group"></div>
  </div>

  <div class="lightbox_bottom"></div>
</div><!-- /secondary -->