<div id="main" class="grid_7">
  <h1>Answering the Call</h1>

  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
  hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel,
  dapibus id, mattis vel, nisi. Lorem ipsum dolor sit amet, consectetuer
  adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In
  nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>

  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
  hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel,
  dapibus id, mattis vel, nisi. Lorem ipsum dolor sit amet, consectetuer
  adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In
  nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>

  <div class="spacer"></div>

  <div id="picturebox"><img src="images/assets/small_bibles.jpg" alt=
    "small1" /><img src="images/assets/small2.jpg" alt="small2" /><img src=
    "images/assets/small3.jpg" alt="small3" /></div><!-- /picturebox -->

  <div id="fp_news">
    
    <h1>Latest News</h1>
  
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
    hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel,
    dapibus id, mattis vel, nisi.</p>
  
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
    hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel,
    dapibus id, mattis vel, nisi. Lorem ipsum dolor sit amet, consectetuer
    adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In
    nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>
  
  </div><!-- /fp_news -->
</div><!-- /main -->