<%#= render :partial => "/shared/content_page" %>

<div id="main" class="grid_7">
  <div id="article">
    <img src="images/assets/church_sidepage.jpg" alt="side image" />
    
    <h1><%= page_title %></h1>

<%# TODO: This can be way better. %>

<% if page_title == "Map" %>
    
    <script src="http://www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/114281111391296844949/driving-directions.xml&amp;up_fromLocation=&amp;up_myLocations=25%20Street%20East%2C%20Prince%20Albert%2C%20Saskatchewan%2C%20Canada%20(Calvary%20United%20Church)&amp;up_defaultDirectionsType=&amp;up_autoExpand=&amp;synd=open&amp;w=497&amp;h=800&amp;title=Directions+by+Google+Maps&amp;brand=light&amp;lang=en&amp;country=US&amp;border=%23ffffff%7C0px%2C1px+solid+%23595959%7C0px%2C1px+solid+%23797979%7C0px%2C2px+solid+%23898989&amp;output=js"></script>
    
    <% else %>
    
    <%=raw @page[:body] %>
    
<% end %>
	</div>
  
  <div class="spacer"></div>

<%
=begin %>
        <div class="divider"></div>
           <div class="staffmembers"> <h1>Staff</h1>
           <div class="staffmember">
<div class="staffimage"><img src="images/assets/staff.jpg" alt="staff" /></div>
            <div class="stafftext"><h3>Jane Doe</h3>
			<h4>Title</h4>
<p>Vivamus non ante quis nunc aliquet viverra et ac libero. Praesent eu massa et justo adipiscing placerat sagittis non lorem. Vestibulum in metus libero, non faucibus turpis. In facilisis, tellus vitae malesuada mollis, justo velit elementum libero, interdum commodo est neque sed nisl.</p>

<p>Phone: 555-555-5555<br />
Email: test@donotreply.com</p>
</div>
</div><!-- /staffmember -->  <div class="group"></div>  <div class="divider"></div>
<div class="staffdiv"><span></span></div>
<div class="staffmember">
<div class="staffimage"><img src="images/assets/staff.jpg" alt="staff" /></div>
            <div class="stafftext"><h3>Jane Doe</h3>
			<h4>Title</h4>
<p>Vivamus non ante quis nunc aliquet viverra et ac libero. Praesent eu massa et justo adipiscing placerat sagittis non lorem. Vestibulum in metus libero, non faucibus turpis. In facilisis, tellus vitae malesuada mollis, justo velit elementum libero, interdum commodo est neque sed nisl.</p>

<p>Phone: 555-555-5555<br />
Email: test@donotreply.com</p>
</div>
</div><!-- /staffmember -->

</div><!-- /staffmembers -->

<%
=end %>
        </div><!-- /main -->