<%#= render :partial => "/shared/content_page" %>

<div id="main" class="grid_7">
  <div id="article">
    <img src="images/assets/church_sidepage.jpg" alt="side image" width='523' height='180' />
    
    <h1><%= page_title %></h1>

<%# TODO: This can be way better. %>

<% if page_title == "Map" %>
    
    <script src="http://www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/114281111391296844949/driving-directions.xml&amp;up_fromLocation=&amp;up_myLocations=25%20Street%20East%2C%20Prince%20Albert%2C%20Saskatchewan%2C%20Canada%20(Calvary%20United%20Church)&amp;up_defaultDirectionsType=&amp;up_autoExpand=&amp;synd=open&amp;w=497&amp;h=800&amp;title=Directions+by+Google+Maps&amp;brand=light&amp;lang=en&amp;country=US&amp;border=%23ffffff%7C0px%2C1px+solid+%23595959%7C0px%2C1px+solid+%23797979%7C0px%2C2px+solid+%23898989&amp;output=js"></script>
    
    <% else %>
    
    <%=raw @page[:body] %>
    
<% end %>
	</div>
  
  <div class="spacer"></div>

</div><!-- /main -->