<%#= render :partial => "/shared/content_page" %>

<div id="main" class="grid_7">
        <div id="article"><img src="images/assets/church_sidepage.png" alt="side image" />
          <h1>Our people</h1>

          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
          hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel,
          dapibus id, mattis vel, nisi. Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In
          nisi neque, aliquet vel, dapibus id, mattis vel, nisi.</p>

		</div>
          <div class="spacer"></div>


        <div class="divider"></div>
           <div class="staffmembers"> <h1>Staff</h1>
           <div class="staffmember">
<div class="staffimage"><img src="images/assets/staff.jpg" alt="staff" /></div>
            <div class="stafftext"><h3>Jane Doe</h3>
			<h4>Title</h4>
<p>Vivamus non ante quis nunc aliquet viverra et ac libero. Praesent eu massa et justo adipiscing placerat sagittis non lorem. Vestibulum in metus libero, non faucibus turpis. In facilisis, tellus vitae malesuada mollis, justo velit elementum libero, interdum commodo est neque sed nisl.</p>

<p>Phone: 555-555-5555<br />
Email: test@donotreply.com</p>
</div>
</div><!-- /staffmember -->  <div class="group"></div>  <div class="divider"></div>
<div class="staffdiv"><span></span></div>
<div class="staffmember">
<div class="staffimage"><img src="images/assets/staff.jpg" alt="staff" /></div>
            <div class="stafftext"><h3>Jane Doe</h3>
			<h4>Title</h4>
<p>Vivamus non ante quis nunc aliquet viverra et ac libero. Praesent eu massa et justo adipiscing placerat sagittis non lorem. Vestibulum in metus libero, non faucibus turpis. In facilisis, tellus vitae malesuada mollis, justo velit elementum libero, interdum commodo est neque sed nisl.</p>

<p>Phone: 555-555-5555<br />
Email: test@donotreply.com</p>
</div>
</div><!-- /staffmember -->

</div><!-- /staffmembers -->
         
        </div><!-- /main -->